body {
    background: #EDC9AF;
    color: #242124;
    font-family: 'Overpass Mono', monospace;
}

.faq-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.table {
    border-color: #242124;
}

.btn {
    border-radius: 0px;
    font-family: monospace
}

.modal-content {
    border-radius: 0px;
}

.chart {
    height: 25px;
}

.btn-red {
    color: #fff;
    background-color: #FF2400;
    border-color: #FF2400;
}
  
.btn-red:hover {
    color: #fff;
    background-color: #e01f00;
    border-color: #e01f00;
}
  
.btn-red:focus, .btn-red.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 36, 0, 0.5);
}

.hov {
    text-decoration: underline;
    cursor: pointer;
    color: #242124;
}

.hov:hover {
    color: grey
}